{
  "presets": [
    ["env", {
        "targets": {
            "chrome": 52
        },
        "modules": false,
        "loose": true
    }]
    /*
    [
      "es2015",
      {
        "modules": false
      }
    ]
    */
  ],
  "plugins": [
    "external-helpers", "es6-promise"
  ]
}